@font-face {
    font-family: 'poppins';
    ;
    src: url('fonts/Poppins-Regular.ttf');
}

@media (max-width: 1080px) {
    nav #icon {
        display: block;
        cursor: pointer;
    }

    .head .navbar h2 {
        font-size: 1.2rem;
        width: 100%;
    }

    .head .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #090a1a;
        left: -100%;
        transition: all 1s fade;
        text-align: center;
        cursor: pointer;
    }

    .head .navbar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .head .navbar a {
        font-size: 20px;
    }

    a.active,
    a:hover {
        border: none;
        color: #FF0000;
    }

    .head .navbar ul.show {
        left: 0;
        top: 40px;
    }

    .judul h1 {
        font-size: 5vw;
    }

    .about {
        height: 120vh;
        width: 100%;
    }

    .service {
        width: 100%;
        height: 180vh;
        font-size: 2vw;
    }

    .service .box,
        {
        overflow: hidden;
        align-items: center;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .service .box .card {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 10px 15px black;
    }

    .service .box .card h5 {
        font-size: 3vw;
    }

    .service .box .card p {
        font-size: 2vw;
    }

    .service .judul h2,
    .about .judul h2 {
        font-size: 1.5rem;
    }

    .contact {
        width: 100%;
        height: 180vh;
        overflow: hidden;
        text-align: center;
    }

    .contact h3 {
        margin: 100px 0;
    }

    .contact p {
        padding: 20px 0;
        margin-bottom: 30px;
    }

    .contact .atas {
        margin: 10px 3vw 4vh 5vw;
        padding: 30vw 3vw 4vh 5w;
        display: flex;
        align-items: center;
    }

    .contact .tengah {
        margin: 60px 5vw 3vh 1vw;
        padding: 10vw 5vw 3vh 1vw;
        display: flex;
        align-items: center;
    }

    .contact .atas img,
    .contact .tengah img {
        width: 30vmin;
        weight: 30vmin;
    }

    .contact .atas h3 {
        font-family: "IBM Plex Sans", sans-serif;
        color: #292929;
        font-size: 3vmin;
        margin: 0px 25px 0px;
        padding: 0;
    }

    .contact .tengah h3 {
        font-family: "IBM Plex Sans", sans-serif;
        color: #292929;
        font-size: 3vmin;
        margin: 0px 25px 0px;
        padding: 0;
    }

    .footer {
        height: 50vh;
        width: 100%;
        font-size: 0.8rem;
        display: flex;
        overflow: hidden;
    }

    .row {
        justify-content: center;
        display: flex;
        padding: 2vh 2vw;
        flex-direction: column;
    }

    .footer .row-col {
        width: 100%;
        padding: 20px 0;
    }

    /* ABOUT  */
    .head-abut .navbar h2 {
        font-size: 1.2rem;
        width: 100%;
    }

    .head-about .nav .logo {
        font-size: 1.5rem;
        padding-left: 60px;
        width: 100%;
    }

    .head-about .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #232323;
        top: 80px;
        left: -100%;
        transition: all 1s fade;
        text-align: center;
        cursor: pointer;
    }

    .head-about .navbar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .head-about .navbar a {
        font-size: 20px;
    }

    .head-about a.active,
    a:hover {
        border: none;
        color: #FF0000;
    }

    .head-about .navbar ul.show {
        left: 0;
        top: 50px;
    }

    /* CONTACT */
    .head-lain .navbar h2 {
        font-size: 1.2rem;
        width: 100%;
    }

    .head-lain .nav .logo {
        font-size: 1.5rem;
        padding-left: 60px;
        width: 100%;
    }

    .head-lain .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #232323;
        top: 80px;
        left: -100%;
        transition: all 1s fade;
        text-align: center;
        cursor: pointer;
    }

    .head-lain .navbar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .head-lain .navbar a {
        font-size: 20px;
    }

    .head-lain a.active,
    a:hover {
        border: none;
        color: #FF0000;
    }

    .head-lain .navbar ul.show {
        left: 0;
        top: 50px;
    }

    .pesan {
        height: 170vh;
        display: flex;
        flex-wrap: wrap;
    }

    form {
        height: 65vh;
        width: 80%;
        background-color: white;
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin: 60px;
    }

    form button {
        padding: 10px;
        margin: 10px auto 0;
        border-radius: 30px;
    }

    iframe {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        margin: 0;
        padding: 0;
    }

    /* PRODUCT */
    .head-product .navbar h2 {
        font-size: 1.2rem;
        width: 100%;
    }

    .head-product .nav .logo {
        font-size: 1.5rem;
        padding-left: 60px;
        width: 100%;
    }

    .head-product .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #232323;
        top: 80px;
        left: -100%;
        transition: all 1s fade;
        text-align: center;
        cursor: pointer;
    }

    .head-product .navbar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .head-product .navbar a {
        font-size: 20px;
    }

    .head-product a.active,
    a:hover {
        border: none;
        color: #FF0000;
    }

    .head-product .navbar ul.show {
        left: 0;
        top: 50px;
    }

    #body-product .laptop {
        height: 500vh;
        display: flex;
        flex-wrap: wrap;
    }

    #body-product {
        height: 500vh;
        display: flex;
        flex-wrap: wrap;
    }

    #body-product ul {
        width: 100%;
        background-color: white;
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 250px 20px;
        width: 100%;
        height: 100vh;
        margin-top: 30vh;
        padding-bottom: 0;

    }

    #body-product li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #body-product h1 {
        font-size: 12px;
    }

    #body-product p {
        font-size: 12px;
    }

    #body-product img {
        width: 120px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav #icon {
        display: block;
        cursor: pointer;
    }

    nav .logo {
        font-size: 1.5rem;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        width: 100vw;
    }

    a.active,
    a:hover {
        color: #647bff;
    }

    #about {
        background: white;
        transition: all 0.5;
        text-align: center;
        overflow: hidden;
        height: 100vh;
        font-size: 12px;

    }

    #about h2 {
        font-size: 20px;
        padding: 5vh 0 0 0;
    }

    .head{
        height: 85vh;
    }
    .me {
        display: flex;
        padding-top: 30vh;
        height: 70vh;
        margin-left: 8vw;
    }

    .me .kanan img {
        width: 120px;
        height: 120px;
        text-align: center;
        flex-direction: column;
    }

    .me .kiri {
        padding-top: 10px;
        display: fixed;
        margin: 0 0 0 20px;
    }

    .me h1 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .me h4 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }


    .me .kiri span {
        color: #647bff;
        font-size: 25px;
    }

    .sosmed a {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #eee;
        cursor: pointer;
        margin-right: 15px;
        background-color: rgb(255, 255, 255, 0.1);
    }

    .sosmed a:hover {
        background-color: transparent;
        cursor: pointer;
        transition: .4s;
        border: 1px solid white;
    }

    .waves {
        height: 50px;
        min-height: 100px;
        z-index: 5;
        width: 100vw;
    }
