@font-face {
    font-family: 'poppins';
    ;
    src: url('fonts/Poppins-Regular.ttf');
}

@media (max-width: 1080px) {
    body {
        overflow-x: hidden;
    }
    nav #icon {
        display: block;
        cursor: pointer;
    }

    .head .navbar h2 {
        font-size: 1.2rem;
        width: 100%;
    }

    .head .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #090a1a;
        left: -100%;
        transition: all 1s fade;
        text-align: center;
        cursor: pointer;
    }

    .head .navbar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .head .navbar a {
        font-size: 20px;
    }

    a.active,
    a:hover {
        border: none;
        color: #FF0000;
    }

    .head .navbar ul.show {
        left: 0;
        top: 40px;
    }

    .judul h1 {
        font-size: 5vw;
    }

    .about {
        height: 120vh;
        width: 100%;
    }

    .service {
        width: 100%;
        height: 180vh;
        font-size: 2vw;
    }

    .service .box,
        {
        overflow: hidden;
        align-items: center;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .service .box .card {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 10px 15px black;
    }

    .service .box .card h5 {
        font-size: 3vw;
    }

    .service .box .card p {
        font-size: 2vw;
    }

    .service .judul h2,
    .about .judul h2 {
        font-size: 1.5rem;
    }

    .contact {
        width: 100%;
        height: 180vh;
        overflow: hidden;
        text-align: center;
    }

    .contact h3 {
        margin: 100px 0;
    }

    .contact p {
        padding: 20px 0;
        margin-bottom: 30px;
    }

    .contact .atas {
        margin: 10px 3vw 4vh 5vw;
        padding: 30vw 3vw 4vh 5w;
        display: flex;
        align-items: center;
    }

    .contact .tengah {
        margin: 60px 5vw 3vh 1vw;
        padding: 10vw 5vw 3vh 1vw;
        display: flex;
        align-items: center;
    }

    .contact .atas img,
    .contact .tengah img {
        width: 30vmin;
        weight: 30vmin;
    }

    .contact .atas h3 {
        font-family: "IBM Plex Sans", sans-serif;
        color: #292929;
        font-size: 3vmin;
        margin: 0px 25px 0px;
        padding: 0;
    }

    .contact .tengah h3 {
        font-family: "IBM Plex Sans", sans-serif;
        color: #292929;
        font-size: 3vmin;
        margin: 0px 25px 0px;
        padding: 0;
    }

    .footer {
        height: 50vh;
        width: 100%;
        font-size: 0.8rem;
        display: flex;
        overflow: hidden;
    }

    .row {
        justify-content: center;
        display: flex;
        padding: 2vh 2vw;
        flex-direction: column;
    }

    .footer .row-col {
        width: 100%;
        padding: 20px 0;
    }

    /* ABOUT  */
    .head-abut .navbar h2 {
        font-size: 1.2rem;
        width: 100%;
    }

    .head-about .nav .logo {
        font-size: 1.5rem;
        padding-left: 60px;
        width: 100%;
    }

    .head-about .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #232323;
        top: 80px;
        left: -100%;
        transition: all 1s fade;
        text-align: center;
        cursor: pointer;
    }

    .head-about .navbar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .head-about .navbar a {
        font-size: 20px;
    }

    .head-about a.active,
    a:hover {
        border: none;
        color: #FF0000;
    }

    .head-about .navbar ul.show {
        left: 0;
        top: 50px;
    }
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav #icon {
        display: block;
        cursor: pointer;
    }

    nav .logo {
        font-size: 1.5rem;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        width: 100vw;
    }

    a.active,
    a:hover {
        color: #647bff;
    }

    #about {
        background: white;
        transition: all 0.5;
        text-align: center;
        overflow: hidden;
        height: 100vh;
        font-size: 12px;

    }

    #about h2 {
        font-size: 20px;
        padding: 5vh 0 0 0;
    }

    .me {
        display: flex;
        font-family: Poppins;
        justify-content: center;
        padding-top: 20vh;
        height: 80vh;
        width: 100vw;
    }

    .me .kanan img {
        width: 120px;
        height: 120px;
        text-align: center;
        flex-direction: column;
        margin: 7vh 0 0 100px;
    }

    .me .kiri {
        text-align: left;
        flex-direction: column;
        padding-left: 10vw;
    }

    .me h1 {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        margin: 10px 0 20px 0;
        font-size: 20px;
    }

    .me h4 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }


    .me .kiri span {
        color: #647bff;
        font-size: 40px;
    }

    .head .me .kiri a {
        text-decoration: none;
        font-size: 12px;
        color: whitesmoke;
        background-color: #122277;
        font-family: 'Akshar', sans-serif;
        border: 2px solid transparent;
        padding: 0.5rem 1.5rem;
        transition: .5s;
    }

    .head .me .kiri a:hover {
        background-color: transparent;
        border: 2px solid #647bff;
        cursor: pointer;
        color: white;
    }

    .waves {
        height: 80px;
        min-height: 140px;
        z-index: 5;
        overflow-x: hidden;
    }
